:root {
	--color-mode: "light";
	--color-dark: #211e1c;
	--color-light: #f8f6f1;
	--background: #f8f6f1;
	--text-color: #211e1c;
	--accent-color-light: #a00000;
	--accent-color-dark: #e3b74f;
	--accent-color: var(--accent-color-light);
	--banner-image-light: url("./img/light-profile-picture.png");
	--banner-image-dark: url("./img/dark-profile-picture.png");
	--banner-image-source: var(--banner-image-light);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	background-color: #f8f6f1;
	background-color: var(--background);
	color: #211e1c;
	color: var(--text-color);
	transition: background-color 500ms ease-in-out, color 200ms ease;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-mode: "dark";
	}

	:root:not([data-user-color-scheme]) {
		--background: var(--color-dark);
		--text-color: var(--color-light);
		--accent-color: var(--accent-color-dark);
		--banner-image-source: var(--banner-image-dark);
	}
}

[data-user-color-scheme="dark"] {
	--background: var(--color-dark);
	--text-color: var(--color-light);
	--accent-color: var(--accent-color-dark);
	--banner-image-source: var(--banner-image-dark);
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

.no-js .link-button {
	display: none;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

:focus {
	outline: 3px dashed;
	outline-offset: 2px;
}
.link-button:hover,
[href]:hover {
	text-decoration: none;
}

.page-wrapper {
	margin: 1rem;
}

h1 {
	font-size: 3.5rem;
}
h2 {
	font-size: 4.2rem;
}
h3 {
	font-size: 2rem;
}
li,
a,
p {
	font-size: 1.375rem;
	line-height: 1.8;
	max-width: 60ch;
}

a {
	color: #a00000;
	color: var(--accent-color);
}

.nav-link {
	color: var(--text-color);
}

button {
	font-family: inherit;
	font-size: 1.375rem;
	cursor: pointer;
}

.link-button {
	display: inline;
	background-color: transparent;
	line-height: 1.5;
	font-weight: normal;
	border: 0;
	color: currentColor;
	text-decoration: underline;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex-wrap-center {
	align-items: center;
	flex-wrap: wrap;
}

.flex-wrap-center * {
	margin-top: 0.5rem;
}

/* .home * {
	text-align: center;
} */

/******************** Header ********************/
header {
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.site-nav {
	align-items: center;
}

.logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 0 5px #e3b74f;
	margin-right: 1rem;
}

.site-nav li {
	display: inline-block;
	margin: 0.5rem 1rem;
}

/******************** Main ********************/
main * + * {
	margin-top: 2rem;
}

section:first-child {
	padding-top: 3rem;
}

.content-nav {
	margin-top: 0;
}

.content-nav li {
	display: inline-block;
	margin-top: 0;
	margin-right: 2rem;
}

/******************** About ********************/

#about {
	min-height: 38rem;
}

.about-text {
	flex: 1;
	text-align: left;
}

.hidden-text {
	display: none;
}

.hidden-text.expanded {
	display: inline;
}

.about-img {
	flex: 1;
	position: relative;
	background-image: url("./img/light-profile-picture.png");
	background-image: var(--banner-image-source);
	background-repeat: no-repeat;
	background-position: center;
}

/******************** Portfolio ********************/

.portfolio {
	text-align: center;
}

.portfolio p {
	margin: 0 auto;
}

.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.card {
	min-height: 22rem;
	display: grid;
	place-content: center;
	margin-top: 1rem;
	padding: 2rem 8%;
	padding-top: 3rem;
	width: 100%;
	position: relative;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
	background-color: #211e1c;
	color: #f8f6f1;
	background-color: var(--text-color);
	color: var(--background);
}

.card-content * + * {
	margin-top: 1rem;
}

.card-color1 {
	background-color: #cfc7b4;
	color: #211e1c;
}

.card-color2 {
	background-color: #585350;
	color: #f8f6f1;
}

.big-card {
	grid-column: span 2;
}

.card-button {
	display: block;
	padding: 0.5rem;
	width: 12rem;
	margin: 1rem auto;
	color: var(--background);
	background-color: #f8f6f1;
	background-color: var(--accent-color);
	text-decoration: none;
	/* text-align: center; */
	border: 1px solid;
	position: static;
}

.card-button::before {
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card-button:hover {
	opacity: 1;
}

.card-button:focus {
	outline: none;
}

.card-button:hover {
	text-decoration: underline;
}

.card-button:hover::before,
.card-button:focus::before {
	outline: 5px dashed var(--accent-color);
	outline-offset: -0.8rem;
}

.portfolio-page h2 {
	text-align: left;
}

#contact {
	min-height: 26rem;
	padding: 5rem 0;
	text-align: center;
	display: grid;
	place-content: center;
}
#contact p {
	margin: 0 auto;
}

/******************** Footer ********************/

.social-link {
	text-decoration: none;
	margin: 0.8rem;
	padding-top: 2rem;
}

.svg-icon {
	width: 44px;
	height: 44px;
	margin-top: 0.5rem;
}

.social-link:hover .svg-icon {
	transform: scale(0.9);
}

.svg-icon path {
	fill: var(--text-color);
}

.footer-left,
.footer-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.social-links {
	margin-right: 0.5rem;
}

.copyright-text {
	border-left: 1px solid var(--text-color);
	padding-left: 0.8rem;
}

@media (max-width: 756px) {
	footer.flex,
	footer .flex {
		justify-content: center;
	}

	.copyright-text {
		margin: 1rem;
		border: none;
	}
}

@media (max-width: 576px) {
	html {
		font-size: 13px;
	}

	nav {
		margin-top: 2rem;
	}

	.site-nav ul {
		display: flex;
		flex-wrap: wrap;
	}

	.user-toggle {
		min-width: 40%;
		height: 2rem;
	}

	.about-img {
		display: none;
	}

	.small-card {
		grid-column: span 2;
	}

	.content-nav {
		margin-top: 1rem;
	}

	.content-nav ul {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		height: 12rem;
		margin: 0;
	}

	.content-nav li {
		display: list-item;
		margin: 0 2rem;
		margin-bottom: 1rem;
	}
}
