.social-link {
	margin: 12px;
	padding-top: $spacing-extra-large;
	text-decoration: none;
}

.svg-icon {
	height: 44px;
	margin-top: $spacing-small;
	width: 44px;
}

.social-link:hover .svg-icon {
	transform: scale(0.9);
}

.svg-icon path {
	fill: var(--text-color);
}

.footer-left,
.footer-right {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.social-links {
	margin-right: $spacing-small;
}

.copyright-text {
	border-left: 1px solid var(--text-color);
	padding-left: 12px;
}


/******************** Responsiveness ********************/

@media (max-width: $medium) {
	footer.flex,
	footer .flex {
		justify-content: center;
	}

	.copyright-text {
		margin: $spacing;
		border: none;
	}
}
