header {
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.site-nav {
	align-items: center;
}

.logo {
	border-radius: 50%;
	box-shadow: 0 0 5px var(--accent-color);
	height: 60px;
	margin-right: 1rem;
	width: 60px;

	circle {
		fill: var(--color-dark);
	}

	path {
		fill: var(--logo-color);
	}
}

[data-state='active'] {
	text-decoration: none;
}

.site-nav li {
	display: inline-block;
	margin: 0.5rem 1rem;
}
