header {
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	row-gap: $spacing;
}

.site-nav {
	align-items: center;

	li {
		display: inline-block;
		margin: $spacing-small $spacing;
	}
}

.logo {
	border-radius: 50%;
	box-shadow: 0 0 5px var(--accent-color);
	height: 60px;
	margin-right: $spacing;
	width: 60px;

	circle {
		fill: var(--color-dark);
	}

	path {
		fill: var(--logo-color);
	}
}

[data-state='active'] {
	text-decoration: none;
}

.content-nav {
	margin-top: 0;

	li {
		display: inline-block;
		margin-right: $spacing-extra-large;
		margin-top: 0;
	}
}

@media (max-width: $small) {

	.site-nav ul {
		display: flex;
		flex-wrap: wrap;
	}

	.user-toggle {
		height: $spacing-extra-large;
		min-width: 40%;
	}
}
