<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{ 'static/css/main.css' | url }}" media="screen" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page-wrapper sticky-footer">
      {% include "partials/site-head.html" %}
      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>
      {% include "partials/site-footer.html" %}
    </div>
  </body>
</html>