{% extends "layouts/base.html" %}
{% set pageStyles = "css/home.css" %}

{% block content %}
  <section id="about" class="about flex">
    <div class="about__text test">
      <h1 data-test='about-heading'>{{ title }}</h1>
      {{ content | safe }}
    </div>
    <div
      aria-label="Drawn outline of me by my wonderful partner Cristina"
      class="about__image"
      data-test="about-image"
      role="img"
    ></div>
  </section>
  <section id="portfolio" class="portfolio">
    <h2 data-test='portfolio-heading'>Featured Projects</h2>
		<p>
			Find out about my featured projects or
			<a href="/portfolio">check out my whole portfolio</a>.
		</p>
		<div class="card-container">
			{% for project in collections.selected.slice(0, 3) %}
				{% set card = project %}
				{% include "partials/card.html" %}
			{% endfor %}
		</div>
  </section>
{% endblock %}