{% extends "layouts/base.html" %}
{% set pageStyles = "css/post.css" %}
{% set previousPost = collections.writing | getPreviousCollectionItem(page) %}
{% set nextPost = collections.writing | getNextCollectionItem(page) %}


{% block content %}
  <article class="post">
    <section class="post__content">
      <h1>{{ title }}</h1>
      <time datetime="{{ helpers.getISODate(page.date) }}">{{ helpers.getReadableDate(page.date) }}</time>
      {{ content | safe }}
      {% if originalPost %}
        <p><em>
          This post was originally published on <a href="{{ originalPost.link }}">{{ originalPost.source }}</a>.
        </em></p>
      {% endif %}
    </section>
    <hr>
    <footer class="post__footer">
      <h2>Read more posts:</h2>
      <ul>
        {% if previousPost %}
          <li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
        {% endif %}
        {% if nextPost %}
          <li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>
        {% endif %}
      </ul>
    </footer>
     <hr>
  </article>
{% endblock %}