* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f8f6f1;
	background-color: var(--background);
	color: #211e1c;
	color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	margin: 0 auto;
	max-width: $max-container-width;
	transition: background-color 500ms ease-in-out, color 200ms ease;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-mode: "dark";
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-mode: "dark";
		}

		:root:not([data-user-color-scheme]) {
			--accent-color: var(--accent-color-dark);
			--logo-color: var(--logo-color-dark);
			--background: var(--color-dark);
			--banner-image-source: var(--banner-image-dark);
			--text-color: var(--color-light);
		}
	}

	[data-user-color-scheme="dark"] {
		--accent-color: var(--accent-color-dark);
		--logo-color: var(--logo-color-dark);
		--background: var(--color-dark);
		--banner-image-source: var(--banner-image-dark);
		--text-color: var(--color-light);
	}
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

main * + * {
	margin-top: $spacing;
}

section {
	&:first-child {
		padding-top: $spacing-large;
	}
}

h1 {
	font-size: var(--step-3);
}
h2 {
	font-size: var(--step-4);
	margin-top: $spacing-medium;
}
h3 {
	font-size: var(--step-2);
	line-height: 1.6;
}

li,
a,
p {
	font-size: var(--step-0);
	line-height: 1.8;
	max-width: 60ch;
}

a {
	color: #a00000;
	color: var(--accent-color);
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: var(--step-0);
}

img {
	display: block;
	height: auto;
  max-width: 100%;
}

hr {
	border-bottom: 1px solid var(--text-color);
	border-top: $spacing-extra-large solid transparent;
	border-style: solid;
	color: transparent;
	clear: both;
}

:focus-visible {
	outline: 3px dashed;
	outline-offset: 2px;
}

.no-js .link-button {
	display: none;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.link-button:hover,
[href]:hover {
	text-decoration: none;
}

.page-wrapper {
	padding: $spacing;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex-grow: 1;
  }
}

.nav-link,
[data-is-internal="internal"] {
	color: var(--text-color);

  & [data-state="active"] {
    text-decoration: none;
  }
}

.link-button {
	display: inline;
	background-color: transparent;
	border: 0;
	color: currentColor;
	font-weight: normal;
	line-height: 1.5;
	text-decoration: underline;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex-wrap-center {
	align-items: center;
	flex-wrap: wrap;
}