// spacing
$spacing: 16px;
$spacing-small: calc($spacing / 2);
$spacing-large: calc($spacing * 1.5);
$spacing-extra-large: calc($spacing * 2);

// max container width
$max-content-width: 960px;
$max-container-width: $max-content-width + calc($spacing-extra-large * 2);

// media queries
$small: 576px;
$medium: 756px;
$large: $max-container-width;