@use 'spacing' as *;

@import './components/card';

.portfolio-item {
  .content-nav {
    ul {
      @media screen and (max-width: $medium) {
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: $spacing-small;
        margin-left: $spacing-small;
      }

      @media screen and (max-width: $small) {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto);
      }
    }
  }

  &__content {
    margin-top: $spacing;

    figure {
      background-color: var(--card-color-1);
      margin-top: $spacing-large;
      padding: 2%;

      @media screen and (min-width: $medium) {
        padding: 6% 4%;
      }

      img {
        box-shadow:
        0px 2.1px 3px rgba(0, 0, 0, 0.202),
        0px 7.1px 10.1px rgba(0, 0, 0, 0.298),
        0px 32px 45px rgba(0, 0, 0, 0.5);
        margin-top: 0;
      }
    }

    p + ul {
      margin-top: $spacing-small;
    }

    li {
      margin-left: $spacing;
      & + li {
        margin-top: $spacing-small;
      }
    }

    @media screen and (min-width: $large) {
      figure {
        margin-bottom: $spacing-large;
      }

      h2 {
        float: left;
        width: 40%;
        margin-top: 0;

        & ~ h3,
        & ~ p,
        & ~ ul {
          float: right;
          width: 60%;
        }
      }

      hr + h2 {
        margin-top: $spacing;

        + h3 {
          margin-top: $spacing-large;
        }
      }
    }
  }
}