@use 'spacing' as *;

.portfolio-item {
  .content-nav {
    ul {
      @media screen and (max-width: $medium) {
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: $spacing-small;
        margin-left: $spacing-small;
      }

      @media screen and (max-width: $small) {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto);
      }
    }
  }

  &__content {

    p + ul {
      margin-top: $spacing-small;
    }

    li {
      margin-left: $spacing-extra-large;
      & + li {
        margin-top: $spacing-small;
      }
    }

    hr {
      border-bottom: 1px solid var(--text-color);
      border-top: $spacing-extra-large solid transparent;
      border-style: solid;
      color: transparent;
      clear: both;
    }

    @media screen and (min-width: $large) {
      figure {
        margin-bottom: $spacing-large;
      }
      h2 {
        float: left;
        width: 40%;
        margin-top: 0;

        & ~ h3,
        & ~ p,
        & ~ ul {
          float: right;
          width: 60%;
        }
      }

    }
  }
}