@use 'spacing' as *;

.post {
  h2, h3 {

  }

  h2 {
    font-size: var(--step-2);
    line-height: 1.6;
    max-width: 32ch;
  }

  h3 {
    font-size: var(--step-1);
    margin-top: $spacing-medium;
    max-width: 45ch;
  }

  time, p {
    + p {
      margin-top: $spacing-medium;
    }
  }

  li {
    margin-left: $spacing;
  }
}