@use 'spacing' as *;

.list-max-width {
	max-width: initial;
}

.exp-list {
	list-style-type: disc;

  li {
    margin-left: $spacing-extra-large;
  }
}

.skill-list {
  li {
	  display: inline-block;
	  line-height: 3rem;
	  margin: $spacing;
	  min-width: 15rem;

    &> * {
      vertical-align: bottom;
    }
  }

  .svg-icon {
    margin-right: $spacing;
  }
}

.language-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  li {
    margin: $spacing-small;
	  margin-left: $spacing-extra-large;
  }
}
