.resume,
.resume section {
	display: block;
	text-align: left;
	min-height: auto;
}

.flex-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex-content * {
	margin-top: 0.5rem;
}

.resume-contact li {
	display: block;
}

.table-of-contents li {
	display: list-item;
}

.exp-list {
	list-style-type: disc;
}

.exp-list ul {
	list-style-type: circle;
}

.exp-list li {
	margin-left: 2rem;
	line-height: 1.8;
}

.skill-list li {
	display: inline-block;
	min-width: 15rem;
	margin: 1rem;
	line-height: 3rem;
}

.skill-list li > * {
	vertical-align: bottom;
}

.skill-list .svg-icon {
	margin-right: 1rem;
}

.language-list li {
	float: left;
	min-width: 22rem;
	margin: 1rem;
	margin-left: 2rem;
}

#contact {
	clear: both;
}
