<footer class="flex flex-wrap-center">
  <div class="flex flex-wrap-center">
    <a href="#top-of-site" class="nav-link">Back to top</a>
  </div>
  <div class="flex flex-wrap-center">
    <p class="social-links">
      {% for item in socialLinks.items %}
        <a
          class="social-link"
          href="{{ item.url }}"
          rel="noopener noreferrer"
          target="_blank"
          title="{{ item.title }}"
        >
          <svg
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="svg-icon"
          >
            <title>{{ item.iconTitle }}</title>
            <path
              d="{{ item.iconPath }}"
            />
          </svg>
        </a>
      {% endfor %}
    </p>
    <p class="copyright-text">{{ helpers.getCurrentYear() }} © Laurie Lim Sam</p>
  </div>
</footer>