<footer class="flex flex-wrap-center">
  <div class="flex flex-wrap-center">
    <a href="#top-of-site" class="nav-link">Back to top</a>
  </div>
  <div class="flex flex-wrap-center">
    <p class="social-links">
      {% for item in socialLinks.items %}
        <a
          class="social-link"
          href="{{ item.url }}"
          rel="noopener noreferrer"
          target="_blank"
          title="{{ item.title }}"
        >
          {% fortawesomeBrand item.icon, 'svg-icon' %}
          <span class="visually-hidden">{{ item.title }}</span>
        </a>
      {% endfor %}
    </p>
    <p class="copyright-text">{{ helpers.getCurrentYear() }} © Laurie Lim Sam</p>
  </div>
</footer>